@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&family=Roboto:wght@300;500;700&display=swap');

:root{
  --color-primary : rgb(255, 108, 34);
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}